NEXT_PUBLIC_SITE_URL=https://ju-tan.com
RESEND_API_KEY=
EMAIL_FROM=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_ENABLE_SENTRY=false
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
NEXT_PUBLIC_TWITTER_SITE=
